<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.papyrus.uml.gefdiag.clazz.tests.editor.ClazzStandaloneEditor"
            default="false"
            extensions="notation"
            id="org.eclipse.papyrus.uml.gefdiag.clazz.editor"
            name="GEF4 ClassDiagram Editor">
      </editor>
   </extension>

</plugin>
