<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gefdiag.common.diagram">
      <diagramEditor
            image="icons/ComponentDiagram.gif"
            label="Component Diagram (GEFx)"
            module="org.eclipse.papyrus.uml.gefdiag.component.module.ComponentDiagramModule"
            type="PapyrusUMLComponentDiagram">
      </diagramEditor>
   </extension>

</plugin>
