<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.uml.gefdiag.clazz.editor.ClassDiagramEditorFactory"
            order="10">
      </editorDiagram>
   </extension>
</plugin>
