<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="http://www.eclipse.org/papyrus/gef4/example/library"
            class="org.eclipse.papyrus.gef4.example.library.LibraryPackage"
            genModel="model/library.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated library -->
      <parser
            type="library"
            class="org.eclipse.papyrus.gef4.example.library.util.LibraryResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.userAgentStyleSheet">
      <stylesheet
            stylesheetPath="style/style.css">
      </stylesheet>
   </extension>

</plugin>
