<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gefdiag.common.diagram">
      <diagramEditor
            image="icons/Diagram_CompositeStructure.gif"
            label="Composite Diagram (GEFx)"
            module="org.eclipse.papyrus.uml.gefdiag.composite.module.CompositeDiagramModule"
            type="CompositeStructure">
      </diagramEditor>
   </extension>

</plugin>
