<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.dev.views.category"
            class="org.eclipse.papyrus.dev.gefdiag.parts.views.GEF4PartsView"
            id="org.eclipse.papyrus.dev.gefdiag.parts.view"
            name="GEF4 VisualParts View"
            restorable="true">
      </view>
   </extension>

</plugin>
